<?xml version="1.0" encoding="UTF-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="bienesConnectionString" connectionString="Data Source=aplicaciones.fhis.hn;Initial Catalog=bienes;User ID=NGARCIA;Password=NGARCIA"
      providerName="System.Data.SqlClient" />
    <add name="ReplicaBienesConnectionString" connectionString="Data Source=DESKTOP-P1BTG9F\SQLEXPRESS;Initial Catalog=ReplicaBienes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="Default.htm" />
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>